#about{
    display: flex;
    column-gap: 50px;

    img{
        object-fit: cover;

    }

    p{
        text-align: justify;
    }
    h2{
        font-size: $fuente-mediana;
        color: $color-primario;
       
    }
}
